*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


body {
  font-family: 'Lato', sans-serif;
  font-size: 20px;
  /*background: #30313e;*/
}

ul {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}


.landing {
  
}

.hero-main {
  background: url(../imgs/tesla_model_s_hero.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 414px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-bottom: 30px;
}

.desc {
  text-transform: uppercase;
  color: #333;
  text-align: center;
  
}

.hero-main button{
  margin: 0 auto;
  display: flex;
  justify-content: center;
  background: none;
  text-align: center;
  border: 1px solid #333;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #333;
  height: 2rem;
  padding: 0 5rem;
  border-radius: 3px;
  cursor: pointer;
  transition: border-color 0.5s, opacity 1s;
}

header .logo {
  display: block;
  width: 130px;
  height: 20px;
  background: url(../imgs/tesla.PNG);
  background-position: center;
  background-size: cover;
}

header button i {
  color: white;
  font-size: 30px;
}
header button {
  border: none;
  background: red;
  border-radius: 25%;
  height: 40px;
  width: 40px;
  background: transparent;
}
header button:focus {
  outline: 0;
}
header button:hover {
  background: rgb(87, 90, 121);
}

.nav .left {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  background: #4D4F63;
  padding: 20px 30px;
  
}

.nav .left li {
  
}

.nav .right {
  transform: translateX(-100vw);
  color: white;
  background: #4D4F63;
  transition: transform 0.4s;
  position: fixed;
  width: 100%;
  height: 100%;
}

.nav .right li {
  padding: 30px;
}

.nav .right li:hover {
  background: gray;
}


.hero-details {
  margin-bottom: 1000px;
}